@font-face {
  font-family: "VTBGroupUI-Regular";
  src: url("VTBGroupUI-Regular.ttf"); 
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: table;
  display: flex;
  font-family: "VTBGroupUI-Regular";
}
html {
  width: 100%; height: 100%; padding: 0; margin: 0;
}

#map {
  display: table-cell;
  width: 100%;
}
#viewContainer {
  margin-top: 30px;
}

#filter-panel {
    width: 15%; /* 25% ширины контейнера, чтобы панель занимала правую часть */
    background-color: rgb(24, 24, 24);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: table-cell;
    color: white;
  }

  .h{
    margin-bottom: 5px;
    margin-top: 30px;
    color: white;
  }

.my-hint {
    display: inline-block;
    padding: 5px;
    height: 35px;
    position: relative;
    left: -10px;
    width: 195px;
    font-size: 11px;
    line-height: 17px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    background-color: #faefb6;
    border: 1px solid #CDB7B5;
    border-radius: 20px;
    font-family: Arial;
}
.accept{
  color: white;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 133, 255) 75%);
}

.accept:hover{
  background:  linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 55, 255) 75%);
}

#viewContainer{
  margin-top: 30px;
  color: white;
}