@font-face {
  font-family: "VTBGroupUI-Regular";
  src: url("VTBGroupUI-Regular.ttf"); 
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: table;
  display: flex;
  font-family: "VTBGroupUI-Regular";
}
html {
  width: 100%; height: 100%; padding: 0; margin: 0;
}

#map {
  display: table-cell;
  width: 100%;
  position: relative;
}
#viewContainer {
  margin-top: 30px;
}

#filter-panel {
    width: 18%; /* 25% ширины контейнера, чтобы панель занимала правую часть */
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: table-cell;
  }

  .h{
    margin-bottom: 5px;
    margin-top: 20px;
  }

.accept{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 133, 255) 75%);
}

.accept:hover{
  background:  linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 55, 255) 75%);
}
