@font-face {
  font-family: "VTBGroupUI-Regular";
  src: url("VTBGroupUI-Regular.ttf"); 
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: table;
  font-family: "VTBGroupUI-Regular";
}
html {
  width: 100%; height: 100%; padding: 0; margin: 0;
}

#map {
  display: table-cell;
  width: 100%;
  position: relative;
}
#viewContainer {
  margin-top: 30px;
}

#filter-panel {
    height: 88%;
    width: 15%; /* 25% ширины контейнера, чтобы панель занимала правую часть */
    background-color: rgb(24, 24, 24);
    padding: 15px;
    margin-top: 40px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: table-cell;
    position: absolute;
    z-index: 100;
  }

  .h{
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
  }

  .filter{
    color: white;
  }

.accept{
  color: white;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 133, 255) 75%);
}

.accept:hover{
  background:  linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 55, 255) 75%);
}

#viewContainer{
  margin-top: 20px;
  color: white;
}