<!-- <html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>zxc</title>
        <script src="http://127.0.0.1:5000/static/custom_view.js" type="text/javascript"></script>
        <script src="http://127.0.0.1:5000/static/multiroute_data_access.js" type="text/javascript"></script>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=eceeb0e7-e4fb-4761-8b9e-1ce933413375" type="text/javascript"></script>
    </head>
    <body>
        <div id="filter-panel">
            <div id="viewContainer"></div>
            <h3>Фильтры:</h3>
            <form id="myForm" action="" method="post">
                <input type="checkbox" id="atms" name="checkbox1" {% if checked1 %}checked{% endif %}>
                <label for="checkbox1">Банкоматы</label><br>
                <input type="checkbox" id="bank" name="checkbox2" {% if checked2 %}checked{% endif %}>
                <label for="checkbox2">Отделения Банка</label><br>
                <input type="submit" value="Применить">
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
        </div>

        <div id="map" style="width: 100%; height: 100%" class="map"></div>
    </body>
</html>
 -->


 <!DOCTYPE html>
<html>
<head>
    <title>Работа с данными и событиями модели мультимаршрута</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=eceeb0e7-e4fb-4761-8b9e-1ce933413375" type="text/javascript"></script>
    <script src="http://127.0.0.1:5000/static/custom_view.js" type="text/javascript"></script>
        <script src="http://127.0.0.1:5000/static/multiroute_data_access.js" type="text/javascript"></script>
    <!-- <style>
        html, body {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }

        #map {
            width: 95%; height: 50%;
        }
        #viewContainer {
            margin: 8px;
        }
    </style> -->
</head>

<body>
    <div id="filter-panel">
        <form id="myForm" action="" method="post">
            <h4 class="h">Цель посещения</h4>
            <input type="checkbox" id="visit" name="visit"  {% if checked1 %}checked{% endif %}> 
            <label for="visit">банкомат</label><br>
            <input type="checkbox" id="visit" name="visit1"  {% if checked2 %}checked{% endif %}> 
            <label for="visit1">Операции со счётом</label><br>
            <input type="checkbox" id="visit" name="visit2" {% if checked3 %}checked{% endif %}> 
            <label for="visit2">Платежи</label><br>
            <input type="checkbox" id="visit" name="visit3" {% if checked4 %}checked{% endif %}>
            <label for="visit3">Перевод вне РФ</label><br>
            <input type="checkbox" id="visit" name="visit4" {% if checked5 %}checked{% endif %}>
            <label for="visit4">Офоромление карты</label><br>
            <input type="checkbox" id="visit" name="visit5" {% if checked6 %}checked{% endif %}>
            <label for="visit5">Получение ипотеки</label><br>
            <input type="checkbox" id="visit" name="visit6" {% if checked7 %}checked{% endif %}>
            <label for="visit6">Получение кредита</label><br>
            <input type="checkbox" id="visit" name="visit7" {% if checked8 %}checked{% endif %}>
            <label for="visit7">Обмен валют</label><br>
            <input type="checkbox" id="visit" name="visit8" {% if checked9 %}checked{% endif %}>
            <label for="visit8">Покупка активов</label><br>

            <h4 class="h">Особенности</h4>
            <input type="checkbox" id="features" name="features1" {% if checked10 %}checked{% endif %}>
            <label for="features1">Обслуживание юридических лиц</label><br>
            <input type="checkbox" id="features" name="features2" {% if checked11 %}checked{% endif %}>
            <label for="features2">Обслуживание физических лиц</label><br>
            <input type="checkbox" id="features" name="features3" {% if checked12 %}checked{% endif %}>
            <label for="features3">Аренда банковских ячеек</label><br>
            <input type="checkbox" id="features" name="features4" {% if checked13 %}checked{% endif %}>
            <label for="features4">Пандус</label><br>
            <input type="button" value="Применить" class="accept">
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            <div id="viewContainer"></div>
    </div>
    <div id="map"></div>
</body>

</html>

